body{

margin:0;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

background:
linear-gradient(
135deg,
#d8c8ff,
#c8e7ff
);

}

.player{

background:white;

padding:40px;

border-radius:20px;

text-align:center;

width:350px;

}

button{

padding:12px;

margin:10px;

border:none;

border-radius:10px;

background:#7d4dff;

color:white;

cursor:pointer;

}
.cover{

width:220px;

height:220px;

border-radius:50%;

object-fit:cover;

box-shadow:

0 0 30px

#c6a7ff;

}

#progress{

width:100%;

margin:20px 0;

}
.player{

transition:.3s;

}

.player:hover{

transform:
scale(1.02);

}

label{

font-size:18px;

}